@{
    ViewBag.Title = "Home Page";
}



<main>
    <h1><b>IBlood</b></h1>
    <div class = "group">
        <h2>Tu poți face schimbarea! Alătură-te nouă.</h2>
        <p><strong>Știai că...? Donând sânge, poți salva chiar și trei vieți!</strong><br><br>○ Celulele roșii (hematiile) – se pot păstra 35 zile și se folosesc in special la pacientii din sălile de operații și reanimare.<br>○ Trombocitele – se pot păstra maxim 5 zile și sunt de mare ajutor bolnavilor de cancer și leucemie.<br>○ Plasma – poate fi congelată și rezistă pană la un an, este folosită în principal în tratamentele accidentaților și bolnavilor cu arsuri.</p>
    </div>
    <div class="group">
        <p>Fiecare unitate de sânge – luată ca întreg – este testată contra bolilor înainte de a fi trimisă spre separare. Donarea de sânge este sigură și ușoară. Nu se pot contracta boli infecțioase în timpul donarii. Se utilizează un ac steril, de unică folosință pentru fiecare donare. Donează sânge și vei putea salva pe cineva.</p>
    </div>
    <div class="x">
        <p>EU DONEZ! TU?</p>
    </div>
    <table class = "group">
        <tr>
            <th>Devino donator!</th>
            <th>Sunt deja donator!</th>
        </tr>
        <tr>
            <th><a href="#" class="buton">Înregistrează-te.</a></th>
            <th><a href="#" class="buton">Intră în contul tău.</a></th>
        </tr>
    </table>
    <div> <a class="top" href="#top">Top</a></div>
</main>



@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@